@model TranslateViewModel

<div class="text-center">
    <h1 class="display-5">Enter text to translate</h1>
    <form method="get"
          data-ajax="true"
          data-ajax-method="get"
          data-ajax-success="submitSuccess"
          data-ajax-failure="submitFailure"
          data-ajax-begin="submitBegin"
          data-ajax-complete="submitComplete"
          data-ajax-url="@Url.Action("Translate", "Translations")">
        <div class="form-group">
            <input autofocus class="form-control" asp-for="TranslationQuery" aria-describedby="queryHelp">
            <span asp-validation-for="TranslationQuery" class="text-danger"></span>
            <small id="queryHelp" class="form-text text-muted">
                @if (string.IsNullOrEmpty(Model.SourceLanguage))
                {
                    <span>Input language will automatically be detected</span>
                }
                else
                {
                    <span>Expected input language: <strong>@Model.SourceLanguage</strong></span>
                }
            </small>
        </div>
        <button id="btnSubmit" class="btn btn-primary" type="submit">
            <span id="btnLoading" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>Translate
        </button>
    </form>
    <h1 class="display-5 translated-text-result">Translated text</h1>
    <h4 id="translated" />
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function submitSuccess(data) {
            $('#translated').html(data.translatedText);
        }
        function submitFailure(error) {
            console.error('submitFailure', error);
        }
        function submitBegin() {
            $('#btnSubmit').prop('disabled', true);
            $('#btnLoading').removeClass('d-none');
        }
        function submitComplete() {
            $('#btnSubmit').prop('disabled', false);
            $('#btnLoading').addClass('d-none');
        }
    </script>
}
